#Top {
    width: 100%;
    height: 22.33%;
    padding-top: 101px;
    padding-bottom: 80px;
    background: url(./assets/Web_background_Image_dark.jpg);
    background-size: 100% 100%;
}

.INU-Appcenter {
    width: 330px;
    height: 70px;
    font-size: 38px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #ffffff;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.info {
    width: 565px;
    height: 84px;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: -0.2px;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 3px;
}

.form-group {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.form-control {
    width: 292px;
    height: 34px;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: center;
    color: #000000;
    left: 50%;
    border-radius: 20.5px;
    border-color: #ffffff;
    border: none;
}

.btn-primary {
    width: 126px;
    height: 34px;
    font-size: 18px;
    background-color: #ffffff;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: center;
    color: #000000;
    border-radius: 20.5px;
    margin-top: 16px;
}

#Bottom {
    margin : 0 0 0 0 ;
    width : 100%;
    height : 77.666%;
    padding-top: 43px;
    padding-bottom: 107px;
    text-align: center;
}

.menutitle {
    width: 375px;
    height: 33px;
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    color: #000000;
    margin: 0 auto;
}

#calender {
    margin-top: 11px;
    text-align: center;
}

.btn-last, .btn-next {
    width: 72px;
    height: 19px;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: center;
    color: #171717;
    outline: 0;
    border: 0;
}

.week {
    width: 375px;
    height: 24px;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    color: #000000;
    margin-left: 30px;
    margin-right: 30px;
}

.memotitle {
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 16px;
    width: 375px;
    height: 33px;
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    color: #000000;
}

.addinfo {
    width: 693px;
    height: 250px;
    border-radius: 6px;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0px;
    color: #000000;
    padding: 24px 137px 51px 24px;

}

.save {
    text-align: center;
}

.imgsave, .svsave {
    width: 183px;
    height: 34px;
    background-color: #ededed;
    outline: 0;
    border: 0;
    margin-top: 47px;
    font-family: NotoSansCJKkr;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: center;
    color: #171717;
    border-radius: 20.5px;
}

.svsave {
    margin-left: 166px;
}

#emailHelp {
    margin-top: 1px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #ffffff
}

section {
    margin-top: 51px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

section > nav {
    margin: 0 7.8px 0 7.8px;
}


nav h4{
    margin: 0px 0px 13px 0px;
    width: auto;
    height: 19px;
    font-family: SFProDisplay;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    color: #000000;
}

nav textarea {
    width: 116px;
    height: 194px;
    background-color: #ededed;
    border-color: #ededed;
    padding: 19px 6px 20px 5px;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0px;
    text-align: center;
    color: #000000;
    margin-bottom: 14px;
    border-radius: 9px;
}

nav textarea:focus {
    width: 116px;
    height: 194px;
    background-color: #ffffff;
    border-color: #ededed;
    outline: none;
    padding: 19px 6px 20px 5px;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0px;
    text-align: center;
    color: #000000;
    margin-bottom: 14px;
    border-radius: 9px;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #8e8e8e;
  border-radius: 4px;
  border: 2px solid #fff;
}

::-webkit-scrollbar-button {
  display: none;
}
